@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'bootstrap/dist/css/bootstrap.css';

* {
    box-sizing: border-box;
    font-family: 'Inter';
    font-weight: 400;
}

.troubleshoot {
    background-color: blue;
}

@media screen and (max-width: 720px) {
    * {
        font-size: 12px;
    }

}

body {
    background-color: white;
    color: white;
    padding: 20px;
}

.container {
    outline: 1px solid white;
}