@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'bootstrap/dist/css/bootstrap.css';

* {
    box-sizing: border-box;
    font-family: 'Inter';
    font-weight: 400;
}

.troubleshoot {
    background-color: blue;
}

@media screen and (max-width: 720px) {
    * {
        font-size: 12px;
    }

}

@media print {

    //PAPER PRINT SETTING
    @page {
        margin: 1cm;
    }

    //WEB DISPLAY ON PRNT
    * {
        font-size: 12px;
    }

    ::placeholder {
        opacity: 0.5 !important;
    }

    table,
    th,
    td,
    tr {
        border: 1px solid black !important;
    }

    .table-light {
        print-color-adjust: exact; //karena defaultnya dia eco dan ignore background color
        background-color: #d2d2cf !important;


    }

    .table-dark {
        print-color-adjust: exact; //karena defaultnya dia eco dan ignore background color

        th {
            background-color: #d2d2cf !important;
        }

        h1 {
            color: black;
        }
    }
}

body {
    background-color: white;
    color: white;
    padding: 20px;
}

.container {
    outline: 1px solid white;
}